.title-text {
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    font-family: var(--title-font);
    margin: 0;
    width: 100%;
    font-size: 55px;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--secondary-color);
}
