.header-text {
    color: rgb(255, 210, 151);
    text-align: center;
    font-weight: bold;
    font-family: 'Mahacara';
    margin: 0;
    width: 100%;
    font-size: 55px;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
}
