.cardContainer {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

article {
    display: flex;
    flex-direction: column;
    height: 450px;
    min-width: 300px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 20px;
}

.header-img {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 100%;
    height: 70%;
}