@media (max-width: 960px) {
    h1 {
        font-size: 1.5rem !important;
    }

    article {
        min-width: 240px !important;
        height: 380px !important;
    }

    button {
        font-size: 1rem !important;
    }

    .header-img {
        width: 70%;
        height: 45%;
    }


}

