:root {
    //Colors
    --primary-color: rgb(255, 210, 151);
    --secondary-color: rgba(0, 0, 0, 0.5);
    --button-color-1: #666666;
    --button-color-2: rgb(131, 131, 131);
    --button-color-disabled: #cccccc;
    --button-color-active: #ffa500;

    //Fonts
    --title-font: 'Mahacara';
    --heading-font: 'Patua-One-Regular'
}
