/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/wood-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: 'Patua-One-Regular';
    src: url('./assets/fonts/PatuaOne-Regular.ttf') format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Mahacara';
    src: url('./assets/fonts/Mahacara.ttf') format("truetype");
    font-weight: normal;
}

h1 {
    font-family: 'Patua-One-Regular';
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 210, 151);
}

.card-button {
    background-color: rgb(255, 210, 151);
    border-style: none;
    border-radius: 5px;
    height: 50px;
    margin: 0 20px 20px 20px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

button:hover {
    background-color: rgb(131, 131, 131);
}

button:active {
    background-color: orange;
    box-shadow: 0 5px gray;
    transform: translateY(2px);
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
