@import "./styles/variables.scss";
@import './styles/fonts.scss';
@import './styles/media-queries.scss';

/* You can add global styles to this file, and also import other style files */
html{
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/wood-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: var(--heading-font);
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
}

p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 5px;
    height: 50px;
    margin: 0 20px 20px 20px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

button:hover {
    background-color: var(--button-color-2);
}

button:active {
    background-color: var(--button-color-active);
    box-shadow: 0 5px var(--button-color-1);
    transform: translateY(2px);
}

button:disabled {
    border: 1px solid;
    background-color: var(--button-color-2);
    color: var(--button-color-1);
}
